@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Hike Sharing</h1>
    
</div>

<div class="alert alert-info">
    <p>InMemoryEnabled = @Model.InMemoryEnabled</p>
    <p>ApiParksEnabled = @Model.ApiParksEnabled</p>
</div>